doctype html
html
	head
		block head

	body
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&lang=en')

		#ss1
			block top

			#content-wrapper
				block main

			block footer
